
body {
  margin: 16px;
}

/* nav */
#anchor {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: Corbel;
}

button {
  background: rgb(200, 200, 200);
  border: 1px solid blue;
  border-radius: 6px;
  padding: 11px 12px;
}

button:active {
  background: white;
  color: black;
}

/* daily */
#add-daily-task {
  text-align: center;
}

#insert-daily {
  border: 2px solid black;
  border-radius: 6px;
}

.form-control, .task-label, #insert-daily-task {
  display: block;
  margin: 8px;
}

.form-control {
  width: calc(100% - 24px);
}

label {
  font-family: Arial;
}

h2 {
  font-family: Tahoma;
  padding-top: 2em;
  margin-left: 1.8em;
}

#task-list, li {
  font-family: Arial;
}

#task-list li {
  font-size: 1.5rem;
  padding-bottom: 1em;
  margin-top: -40px;
  margin-left: 2.5em;
}

li {
  list-style: none;
}

label {
  font-family: Arial;
}

input {
  height: 44px;
  width: 44px;
}

label {
  margin-top: -1.35em;
}

/* Weekly */

.day li {
 padding-top: 1em;
}

@media (min-width: 1000px) {

  .weekly {
    display: flex;
  }

  .day {
    width: calc(100vw/7);
  }

}

.hidden {
  display: none;
}
