
#anchor {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: Corbel;
}

#anchor li {
  background: rgb(200, 200, 200);
  border: 1px solid blue;
  border-radius: 6px;
  padding: 7px 12px;
}

#anchor li:active {
  background: white;
  color: black;
}

#task-list {
  font-family: Arial;
  list-style: none;
}

h2 {
  font-family: Tahoma;
  padding-top: 2em;
  margin-left: 1.8em;
}

input {
  margin-right: 1em;
  height: 44px;
  width: 44px;
}
