
#anchor {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: Corbel;
}

#anchor li {
  background: rgb(200, 200, 200);
  border: 1px solid blue;
  border-radius: 6px;
  padding: 11px 12px;
}

#anchor li:active {
  background: white;
  color: black;
}

h2 {
  font-family: Tahoma;
  padding-top: 2em;
  margin-left: 1.8em;
}

#task-list {
  font-family: Arial;
}

#task-list li {
  font-size: 1.5rem;
  padding-bottom: 1em;
  margin-top: -40px;
  margin-left: 2.5em;
}

li {
  list-style: none;
}

input {
  height: 44px;
  width: 44px;
}

label {
  margin-top: -1.35em;
}

/* Weekly */

@media (min-width: 1000px) {

}
