
body {
  margin: 16px;
  font-family: Arial;
  padding-bottom: 6rem;
}

/* nav */

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-bottom: 16px;
  width: 100vw;
  background: white;
}

#anchor, #add-edit-buttons, #weekly-add-edit-buttons {
  display: flex;
  justify-content: space-evenly;
  font-family: Corbel;
}

button {
  background: rgb(200, 200, 200);
  border: 1px solid blue;
  border-radius: 6px;
  padding: 11px 12px;
}

button:active {
  background: white;
  color: black;
}

/* daily */
#add-daily-task {
  text-align: center;
}

.task {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
}

.form-control, .task-label {
  display: block;
  margin: 8px; 
}

.form-control {
  width: calc(100% - 30px);
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#insert-daily-task, #update-daily-task, #select-weekly-task, #insert-weekly-task {
  border: 2px solid blue;
  border-radius: 6px;
  margin-top: 8px;
}

.tasks {
  border: 2px solid blue;
  border-radius: 6px;
}

#insert-daily-task, #edit, #update-daily-task, #select-weekly-task, #insert-weekly-task {
  margin: auto;
  min-width: 300px;
  max-width: 500px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

#insert-daily, #update-daily, #modify-daily, #delete-daily, #add-weekly, #edit-weekly, #insert-weekly, #update-weekly, #delete-weekly {
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

input[type="text"] {
  padding-left: 0.5em;
}

.heading2 {
  padding-top: 2em;
  margin-left: 1.4em;
}

h2, h3 {
  font-family: Tahoma;
}

#task-list li, #ad-hoc-list li, #edit-daily-task li, #edit-weekly-task li {
  padding-bottom: 1em;
  margin-top: -2.2em;
  margin-left: 4em;
}

#edit-daily-task, #delete-daily-task, #edit-weekly-task {
  margin-left: 15%;
  margin-top: 1em;
  margin-bottom: 1em;
}

li {
  list-style: none;
}

input {
  height: 44px;
  width: 44px;
}

label {
  margin-top: -1.35em;
}

/* Weekly */

#weekly-add-edit-buttons {
  margin-bottom: 1em;
}

#weekly h2 {
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  margin: 5px;
}

.day ul {
  margin-left: -2em;
}

.day li {
  padding-top: 1em;
}

@media (min-width: 0px) {

  .short {
    display: block;
  }

  .long {
    display: none;
  }

}

@media (min-width: 300px) {

  .short {
    display: none;
  }

  .long {
    display: block;
  }

}

@media (min-width: 1200px) {

  .short {
    display: block;
  }

  .long {
    display: none;
  }

  .weekly {
    display: flex;
  }

  .day {
    width: calc(100vw/7);
  }

  #all-tasks {
    display: flex;
    justify-content: space-around;
  }

  .sub-tasks {
    margin-left: -25vw;
  }

}

.hidden {
  display: none;
}
